.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   &__container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 20px;
      position: relative;
      color: #fbd784;
      @media (max-width: 580px) {
         height: 75px;
      }
   }

   &__logo {
      width: 90px;
      height: 100%;
      @media (max-width: 580px) {
         width: 60px;
      }
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         animation: puls 3s ease-in-out infinite;
         @keyframes puls {
            0% {
               filter: drop-shadow(1px 1px 2px #34aaf0);
            }
            50% {
               filter: drop-shadow(1px 1px 15px #34aaf0);
            }
            100% {
               filter: drop-shadow(1px 1px 2px #34aaf0);
            }
         }
      }
   }
   &__phone {
      transition: all 0.5s ease;
      font-size: clamp(14px, 4vw, 26px);
      text-shadow: 1px 1px 5px #fff;

      @media (hover: hover) {
         &:hover {
            color: #34aaf0;
            text-shadow: -1px 1px 15px #fff;
         }
      }
   }
   &__links {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      transition: all 0.5s ease-in-out;
      @media (max-width: 1100px) {
         position: fixed;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 80vw;
         height: 80vh;
         padding: 40px 30px;
         border-radius: 28px;
         background: rgba(15, 18, 28, 0.55);

         backdrop-filter: blur(18px);
         -webkit-backdrop-filter: blur(18px);

         border: 1px solid rgba(255, 255, 255, 0.08);

         overflow: hidden;
         box-shadow:
            0 0 30px rgba(0, 0, 0, 0.45),
            inset 0 0 20px rgba(255, 255, 255, 0.02);
         opacity: 0;
         visibility: hidden;
      }
      &.active {
         opacity: 1;
         visibility: visible;
      }
   }
   &__link {
      transition: all 0.5s ease;
      @media (hover: hover) {
         &:hover {
            color: #34aaf0;
            text-shadow: -1px 1px 15px #fff;
         }
      }
   }
   &__burger {
      display: none;
      width: 36px;
      height: 20px;
      position: relative;
      cursor: pointer;
      @media (max-width: 1100px) {
         display: block;
      }
      &.active {
         & span {
            opacity: 0;
            visibility: hidden;
         }
         &::before {
            transform: rotate(45deg);
            top: 49%;
         }
         &::after {
            transform: rotate(-45deg);
            bottom: 45%;
         }
      }
      & span,
      &::before,
      &::after {
         transition: all 0.5s ease-in-out;
         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #fbd784;
         border-radius: 2px;
      }
      & span {
         top: 50%;
         transform: translateY(-50%);
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
   }
}
