// ========================
.herro {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   &-layer {
      position: absolute;
      /* Увеличиваем размер, чтобы был запас для движения */
      top: -5%;
      left: -5%;
      width: 105%;
      height: 110%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      will-change: transform;
      /* Плавный переход для мягкого движения */
      transition: transform 0.2s cubic-bezier(0.2, 0.4, 0.3, 1);
   }
   & .layer-bg {
      background-image: url("../img/bg-herro.jpg");
      z-index: 2;
   }
   & .layer-code {
      background-image: url("../img/code-herro.png");
      z-index: 3;
      filter: drop-shadow(2px 2px 15px #fff);
   }
   & .layer-dust {
      background-image: url("../img/light-herro.png");
      z-index: 2;
      margin-top: 60px;
   }
   & .gyro-btn {
      display: none; /* Скрыта по умолчанию */
      position: fixed;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px 30px;
      background: rgba(255, 255, 255, 0.15);
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 50px;
      backdrop-filter: blur(10px);
      z-index: 1000;
      font-size: 16px;
      cursor: pointer;
   }
   &__container {
      z-index: 2;
   }

   &__informations {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      z-index: 10;
      color: #fff;
      z-index: 5;
      @media (max-width: 768px) {
         padding-top: 120px;
      }
      @media (max-width: 425px) {
         padding-top: 100px;
      }
   }

   &__name {
      font-size: clamp(10px, 2vw, 18px);
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fbd784;
      display: flex;
      gap: 30px;
      align-items: center;
      text-align: center;
      filter: drop-shadow(2px 2px 2px #000);
      &::before {
         content: "";
         width: 60px;
         height: 2px;
         background: #fbd784;
         @media (max-width: 375px) {
            width: 40px;
         }
      }
   }

   &__title {
      font-size: clamp(22px, 5vw, 56px);
      line-height: 1.1;
      font-weight: 800;
      filter: drop-shadow(2px 2px 2px #000);
   }

   &__text {
      font-size: clamp(12px, 1.8vw, 20px);
      letter-spacing: 2px;
      line-height: 1.1;
      filter: drop-shadow(2px 2px 2px #000);
   }
}

/* Пути к вашим изображениям */

/* Кнопка активации для мобильных */
